body { font-family:Tahoma, sans; }
pre { margin: 0px; }

table { border-collapse: collapse; border: 1px #000000 solid; border-spacing: 0px; }
td { padding: 5px; }
thead { background-image: url(gfx/bg_green.png); background-repeat: repeat-x; }

.header { position: absolute; top: 5px; right: 20px; }
.highlight{background:#fff;}
.line_numbers{background-color:#ececec;color:#aaa;padding:1em .5em;border-right:1px solid #ddd;text-align:right;}

.file {border:1px solid #ddd; }
.file_head {  padding-left: 15px; padding-top: 3px; border-bottom: 1px solid #ddd; background-image: url(gfx/bg_green.png); background-repeat: repeat-x;  }

.comment {border:1px solid #ddd; width: 95%; margin-left: 10px; margin-right: 10px;}
.com_body { padding-left: 15px; }
.com_date { position: relative; left: 200px; top: -8px; color: #888;}
.com_name { position: relative; left: 15px; top: -8px;  }
.com_head { padding-left: 15px; padding-top: 3px; border-bottom: 1px solid #ddd; background-image: url(gfx/bg_blue.png); background-repeat: repeat-x; }

.fname { position: relative; left: 15px; top: -8px;  }
.fsize { position: relative;  left: 40px; top: -8px;  color: #888; }
.fdate { position: relative;  left: 100px; top: -8px;  color: #888; }
.fedit{ position: relative;  left: 240px; top: -8px;  }
.fraw{ position: relative;  left: 340px; top: -8px;  }

.class_block { border:1px solid #000; width: 85%; margin: 20px; padding: 20px; background-color: #eee; }

.cmnt_count { padding: 20px; }
