body {
	padding: 10px;
	margin: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

pre { margin: 0px; }

table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.header { position: absolute; top: 5px; right: 20px; }
.highlight{background:#fff;}
.line_numbers{background-color:#ececec;color:#aaa;padding:1em .5em;border-right:1px solid #ddd;text-align:right;}

.file {border:1px solid #ddd; }
.file_head {  padding-left: 15px; padding-top: 3px; border-bottom: 1px solid #ddd; background-image: url(gfx/bg_green.png); background-repeat: repeat-x; border-top: 2px solid #000; }

.comment {border:1px solid #ddd; width: 95%; margin-left: 10px; margin-right: 10px;}
.com_body { padding-left: 15px; }
.com_date { position: relative; left: 200px; top: -8px; color: #888;}
.com_name { position: relative; left: 15px; top: -8px;  }
.com_head { padding-left: 15px; padding-top: 3px; border-bottom: 1px solid #ddd; background-image: url(gfx/bg_blue.png); background-repeat: repeat-x; }

.fname { position: relative; left: 15px; top: -8px;  }
.fsize { position: relative;  left: 40px; top: -8px;  color: #888; }
.fdate { position: relative;  left: 100px; top: -8px;  color: #888; }
.fedit{ position: relative;  left: 240px; top: -8px;  }
.fraw{ position: relative;  left: 340px; top: -8px;  }

.class_block { border:1px solid #000; width: 85%; margin: 20px; padding: 20px; background-color: #eee; }

.cmnt_count { padding: 20px; }

#top_bar {
	position: absolute;
	background-color:#004890;
	color: #fff;
	border-bottom: 1px solid #000;
	padding: 3px;
	top: 0px;
	left: 0px;
	width: 100%;
}

.input {
	background-color: #ddf;
	border: 1px solid #bbb;
	padding: 10px;
	margin: 20px;
}

.input_form {
	text-align: right;
	padding-right: 20px;
}

.input_error {
	color: #d00;
}

.input_name {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.input_description {
	font-family: sans-serif;
	font-size: 14px;
	color: #555;
}

#line:hover {
	background-color: #ff0;
}

.line_add {
	float: left;
}

.line_num {
	float: left;
	background-color: #ddd;
	text-align: left;
	color: #aaa;
	width: 40px;
}

.line_comment {
	border-top: 1px solid #000;
	display: none;
	padding-left: 40px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: #1782b8;
	background-color: #ddd;
}
