/*

red    = #ffb2d2 code
blue   = #c5bcff comments
yellow = #ffefb2 faculty
green  = #deffb2 students
lt grey= #666

*/
body {
    padding: 10px;
    margin: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.link_header {
	font-size: 20px;
	font-weight:bold;
}
.banner_header {
	font-size: 40px;
	font-weight:bold;
	color: #666;
}
.col {
	position: relative;
	float: left;
	left: 20px;
}
.col1 {
    position: relative;
    overflow: hidden;
    float: left;
    width: 20%;
    left: 10%;
}
.col2 {
    position: relative;
    overflow: hidden;
    float: left;
    width: 48%;
    left: 3%;
}
pre { margin: 0px }
table.gridtable {
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.login_menu {
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
	padding-right: 10px;
}

.logout_button {
	background-color: #f00;
	color: #fff;
}

.logout_button:hover {
	background-color: #000;
	color: #f00;
}

.main_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ececec;
	border-bottom: 2px solid #000;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main_menu ul {
	margin: 0;
	padding: 0;
}

.main_menu ul li {
	display: inline;
}

.main_menu ul li a {
	float: left; 
	text-decoration: none;
	margin-left: 25px;
}

.main_menu ul li a:visited {

	text-decoration: none;
}

.main_menu ul li a:hover, .menu ul li .current {
    color: #000;
    border-bottom: 2px solid #000;
}

/*
.menu {
    width: 100%;
    margin: 10px;
    background: #eee none;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}
.menu li {
    margin: 10px;
    padding: 0px;
    float: left;
}
.menu a {
    display: block;
    width: 100%;
    text-decoration: none;
}
.menu a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}
*/

.highlight { background: #fff }
.line_numbers {
    background-color: #ececec;
    color: #aaa;
    padding: 1em .5em;
    border-right: 1px solid #ddd;
    text-align: right;
}
/* .file {border:1px solid #ddd; } _NO__DOTCOMMA__AFTER__*/
.file_head {
    padding-left: 15px;
    padding-top: 3px;
    border: 1px solid #000;
    background-color: #c5bcff;
}
.file_head_late {
    padding-left: 15px;
    padding-top: 3px;
    border: 1px solid #000;
    background-color: #faa;
}
/*.comment {border:1px solid #ddd; width: 95%; margin-left: 10px; margin-right: 10px;}_NO__DOTCOMMA__AFTER__*/
.com_body { padding-left: 15px }
/*.com_date_human { position: relative; left: 100px; top: -8px; color: #666;}_NO__DOTCOMMA__AFTER__*/
.com_name {
    position: absolute;
    left: 100px;
    padding-top: 7px;
}
.com_head {
    padding-left: 15px;
    padding-top: 3px;
    border: 1px solid #000;
    background-color: #deffb2;
}
.com_head_fac {
    padding-left: 15px;
    padding-top: 3px;
    border: 1px solid #000;
    background-color: #ffefb2;
}
.com_date {
    position: absolute;
    left: 500px;
    padding-top: 7px;
}
.com_human {
    position: absolute;
    left: 300px;
    padding-top: 7px;
}
.comment_username {
    position: relative;
    right: 100px;
    top: -8px;
}
.comment_time {
    position: relative;
    right: 0px;
    top: -8px;
}
.fname {
    position: absolute;
    left: 100px;
    padding-top: 7px;
}
.fsize {
    position: absolute;
    right: 500px;
    padding-top: 7px;
    color: #666;
}
.fdate {
    position: absolute;
    right: 250px;
    padding-top: 7px;
    color: #666;
}
.fedit {
    position: relative;
    left: 240px;
    top: -8px;
}
.fraw {
    position: relative;
    left: 340px;
    top: -8px;
}
.fhuman {
    position: absolute;
    right: 100px;
    padding-top: 7px;
    color: #666;
}
.class_block {
    border: 1px solid #000;
    width: 85%;
    margin: 20px;
    padding: 20px;
    background-color: #eee;
}
.cmnt_count { padding: 20px }
#top_bar {
    position: absolute;
    background-color: #004890;
    color: #fff;
    border-bottom: 1px solid #000;
    padding: 3px;
    top: 0px;
    left: 0px;
    width: 100%;
}
.input {
    background-color: #ddf;
    border: 1px solid #bbb;
    padding: 10px;
    margin: 20px;
}
.input_form {
    text-align: right;
    padding-right: 20px;
}
.input_error { color: #d00 }
.input_name {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.input_description {
    font-family: sans-serif;
    font-size: 14px;
    color: #555;
}
#line:hover { background-color: #ff0 }
.line_add { float: left }
.line_num {
    width: 40px;
    float: left;
    background-color: #ddd;
    padding-left: 5px;
    color: #666;
}
.line_dat { margin: 1px }
.line_comment_stu {
    border-top: 1px solid #000;
    display: none;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #1782b8;
    background-color: #deffb2;
}
.line_comment_fac {
    border-top: 1px solid #000;
    display: none;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #1782b8;
    background-color: #ffefb2;
}
.line_comment_display_fac {
    border-top: 1px solid #000;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #1782b8;
    background-color: #ffefb2;
}
.line_comment_display_stu {
    border-top: 1px solid #000;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #1782b8;
    background-color: #deffb2;
}
.line_comment_name {
    color: #666;
    position: absolute;
    right: 55px;
}
.line_comment_time {
    color: #666;
    position: absolute;
    right: 200px;
}
.comment_box {
    color: #000;
    border: 1px solid #000;
    background-color: #dedede;
    padding: 20px;
    font-size: 20px;
}
.comment_box_closed {
    color: #d00;
    border: 1px solid #000;
    /*background-color: #d00;*/
    background-color: #dedede;    
    padding: 20px;
    font-size: 20px;
}
.comment_box_closed_message {
    position: relative;
    float:right;
    color: #faa;
    font-weight:bold;
    font-size: 65px;
}
